@page
@model RazorPages1.Pages.Alumnos.BuscarModel
@{

}

<form method="get" class="mt-3" enctype="multipart/form-data">
    
    <div class="form-group row">
        <label asp-for="alumno.Nombre" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-10">
            <input asp-for="alumno.Nombre" class="form-control" placeholder="Nombre" />
            <span asp-validation-for="alumno.Nombre" class="text-danger"></span><!--Las validaciones se especifican en los modelos-->
        </div>
    </div>
    
</form>

@section Scripts{
    <!--<partial name="_ValidationScriptsPartial" /> <!--Esta linea es para que coja las validaciones en el lado del cliente, no es lo mejor-->
    <script>
        $(document).ready(function () {
            $('.custom-file-input').on("change", function () {
                //este objeto (custom-file-input), su valor concatena con \\
                //y pop que es de jquery extrae de la pila algo que agustín no tiene muy claro
                var fileName = $(this).val().split("\\").pop();
                //al siguiente objeto label de estos le pones el fileName
                $(this).next('.custom-file-label').html(fileName);
            })
        })
    </script>

}

